/* Reseta padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonte importada do Google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Estilos principais */
body {
  font-family: "Poppins";
  background-color: #000;
  color: #fff;
  line-height: 1.6;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* Estilo para ajustes */
.midasc {
  justify-content: center;
  gap: 100px;
  display: flex;
  align-items: center;
}

/* Responsividade para a .rr */
.rr {
  display: block;
  width: 33%;
  margin-top: 175px;
}

/* Estilos de cabeçalho */
header {
  background-color: #111;
  padding: 20px 0;
}

.logo img {
  width: 150px;
}

/* Menu de navegação */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.login a {
  color: #ffd700;
  text-decoration: none;
}

/* Seção principal de herói */
.hero {
  background-image: url("images/222.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 0;
  height: 100vh;
}

.hero h1 {
  font-size: 2em;
  color: #ffd700;
}

.hero h1 span {
  color: #fff;
}

.hero p {
  margin-top: 20px;
  font-size: 1.2em;
  width: 71%;
  margin: 0 auto;
  font-weight: 400;
  line-height: 21px;
}

.cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  background-color: #ffd700;
  color: #000;
  text-decoration: none;
  font-size: 1.2em;
}

.info {
  background-color: #111;
  padding: 50px 0;
  text-align: center;
}

.info p {
  font-size: 1.2em;
  margin-bottom: 20px;
  width: 40%;
}

.hashtags {
  background-color: #222;
  padding: 50px 0;
  text-align: center;
}

/* Tipografia */
p,
li {
  font-weight: 500;
}

/* Responsividade de listas */
.hashtags-list {
  justify-content: center;
  margin-bottom: 20px;
  display: grid;
  font-weight: 900;
  font-style: italic;
  font-size: 1.5em;
  line-height: 38px;
}

.col {
  color: #ffd700;
  font-weight: 600;
}

.r2t p {
  display: block;
  margin: 0 auto;
  width: 29%;
  padding-bottom: 20px;
  font-size: 1em;
  font-weight: 500;
}

.r2t {
  display: block;
}

.hashtags-list span {
  font-size: 1.5em;
  color: #ffd700;
}

.midas c {
  display: block;
  text-align: left;
}

.rr2 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 74px;
}

.hashtags p {
  font-size: 1em;
  width: 35%;
  text-align: left;
}

/* Estilos da seção why-midas */
.why-midas {
  padding: 50px 0;
  background-color: #fff;
  text-align: center;
  background-image: url("pattern-background.png");
  background-size: contain;
  padding: 200px 0px;
}

.why-midas h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
  text-align: left;
}

.features-list {
  list-style-type: none;
  padding: 0;
  font-size: 1.2em;
  line-height: 1.6;
  color: #333;
  margin-bottom: 30px;
  text-align: left;
}

.features-list li {
  font-size: 1em;
}

.team-image {
  display: flex;
  justify-content: center;
}

.team-image img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 500px;
}

.midas-store {
  padding: 50px 0;
  background-color: #f2f2f2;
  text-align: center;
  position: relative;
}

.midas-store h2 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

.midas-store h2 span {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.midas-store p {
  font-size: 1.2em;
  margin-bottom: 30px;
  color: #333;
}

.store-benefits {
  list-style-type: none;
  padding: 0;
  font-size: 1.1em;
  line-height: 1.8;
  color: #333;
}

.store-benefits li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.features-list li img {
  width: 35px;
  padding-right: 10px;
}

.features-list li {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  font-weight: 600;
}

.store-benefits li::before {
  content: "✔";
  color: #ffd700;
  margin-right: 10px;
}

.cta-button {
  display: inline-block;
  padding: 7px 30px;
  background-color: #ffd700;
  color: #333;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
  border-radius: 13px;
  margin-top: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cta-button:hover {
  background-color: #ffb600;
  transition: 0.3s;
}

/* Responsividade para dispositivos menores */
@media (max-width: 768px) {
  .subscribe-section {
    padding: 23px 10px !important;
  }
  .subscribe-button {
    padding: 12px 27px !important;
  }
  .subscribe-title {
    font-size: 1.3em !important;
  }
  .subscribe-text {
    font-size: 1em !important;
    color: #000000;
    line-height: 1.6;
    margin-bottom: 40px;
    max-width: 600px;
    padding-bottom: 50px;
    text-align: left;
    margin: 0 auto;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }

  .rr {
    width: 100%;
    margin-top: 154px;
  }

  .hero {
    padding: 50px 0;
    height: 80vh;
  }

  .hero h1 {
    font-size: 1.5em;
  }

  .hero p {
    font-size: 1em;
    width: 90%;
  }
  .node {
    padding-bottom: 10px;
  }
  .cta-button {
    font-size: 1em;
    padding: 8px 20px;
  }

  .info p {
    width: 90%;
  }

  .hashtags p {
    width: 90%;
  }

  .r2t p {
    width: 90%;
  }

  .features-list {
    font-size: 1em;
  }

  .why-midas h2 {
    font-size: 1.5em;
  }
}

/* Ajustes para dispositivos ainda menores, como smartphones */
@media (max-width: 480px) {
  .subscribe-section {
    width: 80%;
  }
  .info-container {
    text-align: left;
  }
  .section-container {
    padding: 100px 0px !important;
    width: 86% !important;
  }
  .why-midas {
    padding: 100px 0px;
  }
  .hero h1 {
    font-size: 1.6em;
  }

  .hero p {
    font-size: 0.9em;
    font-weight: 500;
  }

  .cta-button {
    font-size: 0.9em;
    padding: 11px 21px;
  }

  .info p,
  .hashtags p,
  .r2t p {
    width: 100%;
    font-size: 0.9em;
  }

  .features-list {
    font-size: 0.9em;
  }
}
.section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #000;
  width: 64%;
  color: #fff;
  margin: 0 auto;
  padding: 200px 0px;
}

.info-container {
  max-width: 50%;
}

.section-title {
  font-size: 2em;
  color: #ffbf00;
  margin-bottom: 20px;
}

.description {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 15px;
}

strong {
  color: #ffbf00;
}

.image-container {
  max-width: 40%;
  display: flex;
  justify-content: center;
}

.golden-chip-img {
  max-width: 100%;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .section-container {
    flex-direction: column;
    text-align: center;
  }

  .info-container,
  .image-container {
    max-width: 100%;
  }

  .section-title {
    font-size: 1.8em;
  }
}

/* Seção de Inscrição */
.subscribe-section {
  background-color: #ffbf00;
  padding: 60px 20px;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 40px auto;
  max-width: 800px;
  transition: all 0.3s ease-in-out;
}

.subscribe-section:hover {
  transform: scale(1.02);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.15);
}

/* Conteúdo */
.content-container {
  padding: 20px;
}

.subscribe-title {
  font-size: 2.5em;
  color: black;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.subscribe-text {
  font-size: 1.2em;
  color: #000000;
  line-height: 1.6;
  margin-bottom: 40px;
  max-width: 600px;
  padding-bottom: 50px;
  margin: 0 auto;
}

/* Botão de Inscrição */
.subscribe-button {
  font-size: 1.3em;
  color: #fff;
  background-color: #000000;
  padding: 15px 40px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.subscribe-button:hover {
  background-color: white;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  color: black;
}

.subscribe-button:active {
  background-color: #ffbf00;
  transform: translateY(0);
}

/* Animações e Responsividade */
@media (max-width: 768px) {
  .subscribe-title {
    font-size: 2em;
  }

  .subscribe-text {
    font-size: 1.1em;
  }

  .subscribe-button {
    font-size: 1.1em;
    padding: 12px 30px;
  }
}
footer {
  text-align: center;
}

footer p a {
  text-decoration: none;
  color: #ffbf00;
}
footer p {
  font-size: 0.6em;
}

@media (max-width: 768px) {
  /* Oculta o menu normal no mobile */
  nav ul {
    position: absolute;
    top: 80px;
    right: 0;
    background-color: #0468bf;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: none;
    transition: transform 0.3s ease;
  }

  nav ul.show {
    display: flex;
  }

  nav ul li {
    margin: 20px 0;
  }

  /* Exibe o botão hambúrguer */
  .hamburger {
    display: flex;
  }

  /* Animação para o menu abrir/fechar */
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
} /* Navegação Desktop */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.login a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Menu Hambúrguer (Escondido no Desktop) */
.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s;
}

.logo img {
  width: 120px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

/* Menu hambúrguer oculto em telas grandes */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  /* Esconder o menu e exibir o hambúrguer */
  nav ul {
    display: none;
    flex-direction: column;
    background-color: #111111;
    position: absolute;
    top: 65px;
    right: 0;
    width: 100%;
    text-align: center;
    gap: 10px;
    padding: 10px;
    justify-content: flex-start;
  }
  nav ul li a {
    color: #ffd700;
  }
  nav ul.show {
    display: flex; /* Exibe o menu quando clicar no hambúrguer */
  }

  .login a {
    color: #ffd700;
  }

  .hamburger {
    position: relative;
    top: 6px;
    display: flex; /* Exibe o ícone de hambúrguer em telas menores */
  }
  .heal {
    display: flex;
    flex-direction: initial;
    align-items: flex-start;
  }
}
